* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.box {
  width: 700px;
}
h1 {
  text-align: center;
  padding: 20px;
}
h4 {
  margin: 0px;
  padding: 5px;
  border: 1px solid black;
  border-top: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
}
p {
  color: white;
  padding: 50px 17px 10px 17px;
}
.background-1 {
  background-color: salmon;
  color: black;
}
.background-2 {
  background-color: red;
  color: white;
}
.background-3 {
  background-color: yellow;
  color: black;
}
.p-section {
  height: 250px;
  background-color: grey;
  border: 1px solid black;
  margin-bottom: 30px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
